# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=llm_reader

# File Storage
FILE_STORAGE_ROOT=../storage

# LLM Configuration
LLM_BASE_URL=http://localhost:11434

# Qdrant Vector Database Configuration
# Default values for local development
QDRANT_HOST=localhost
QDRANT_PORT=6334
